name: Testing

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
  
jobs:
  setup-build:
    name: Ex1 (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10", "3.11", "3.12"]
    defaults:
      run:
        shell: bash -el {0}

    steps:
    - uses: actions/checkout@v4
    - uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}

    - name: Install Env
      run: |
        python --version
        conda install pytest
        conda install pytest-cov
        conda install pytest-subtests
        conda install pytest-xdist[psutil]
        conda install pytest-benchmark
        pip install "mt_metadata[obspy] @ git+https://github.com/kujaku11/mt_metadata.git@pydantic"
        pip install git+https://github.com/kujaku11/mth5_test_data.git
    - name: Install Our Package
      run: |
        pip install -e .
        conda list

    #- name: Install Jupyter and dependencies
    #  run: |
    #    source activate mth5-test
    #    pip install jupyter
    #    pip install ipykernel
    #    pip install ipympl
    #    python -m ipykernel install --user --name mth5-test
    #    # Install any other dependencies you need

    #- name: Execute Jupyter Notebooks
    #  run: |
    #    source activate mth5-test
    #    jupyter nbconvert --to notebook --execute docs/examples/notebooks/make_mth5_driver_v0.2.0.ipynb

    - name: Run Tests
      run: pytest -rA --cov=./ --cov-report=xml --cov=mth5 -n auto tests/

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        flags: tests
        fail_ci_if_error: false
        verbose: true
